{% extends "base.html" %}

{% block content %}
    <h3 class="center-align">Create recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" 
                        minlength="5" maxlength="50" class="validate" required>
                    <label for="recipe_name">Recipe name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pepper-hot prefix"></i>
                    <textarea id="ingredients" class="materialize-textarea" name="ingredients" rows="16" cols="40" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="method" class="materialize-textarea" name="method" rows="16" cols="80" required></textarea>
                    <label for="method">Method</label>
                </div>
            </div>
            <div class="row">
                <p class="range-field col s12">
                <input type="range" id="prep_time" name="prep_time" min="5" max="300" required/>
                <label for="prep_time">Prep time (minutes)</label>
                </p>
            </div>
            <div class="row">
                <div class="chips chips-placeholder col s12">
                    <input class="custom-class">
                </div>
            </div>
        </form>
    </div>
        
{% endblock %}