{% extends "base.html" %}

    {% block content %}


        <div class="row">
            <div class="overlay">
                <img src="static/images/soup.jpg" alt="Home cooked soup" id="homePageImage">
            </div>
            <div class="callToAction">
                <h1>Cogi</h1>
                <a href="{{ url_for('get_recipes') }}">
                    <h3 class="center-align">cooking up a community</h3>
                </a>
                <div class="card-panel white">
                    <form action="{{ url_for('search') }}" method="post" class="col s12">
                        <div class="row valignwrapper centeralign">
                            <div class="input-field col s12 m8">
                                <i class="fas fa-search prefix"></i>
                                <input type="text" name="query" minlength="3" id="query" class="validate" required>
                                <label for="query">Search recipes</label>
                            </div>
                            <div class="col s12 m4">
                                <a href="{{ url_for('get_recipes') }}" class="red btn">Reset</a>
                                <button type="submit">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 

        <div class="row fadeIn">
            <div class="col s12 center-align">
                <p>Cogi is a community of home cooks that want to create and share delicious meals. 
                    You can search for and follow a recipe you would like to try yourself as well as join our community 
                    to save and share your own recipes.</p>
            </div>
        </div>

        <div class="row fadeIn">
            <div class="col s12 m3">
                <div class="card small">
                    <div class="card-image">
                        <img src="https://www.lakeland.co.uk/common/banners/category/hero/2303-cat-hero-ooni-pizza-xl.jpg">
                    </div>
                        <div class="card-content">
                        <p>Lakeland cookware</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.lakeland.co.uk/shop/cooking" target="_blank">View here</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="card small">
                    <div class="card-image">
                        <img src="https://i.pinimg.com/originals/12/f4/dd/12f4dd62805bbc9e0cf354c785a2382b.jpg">
                    </div>
                        <div class="card-content">
                        <p>John Lewis</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.johnlewis.com/home-garden/cooking-baking/c600001134" target="_blank">Shop now</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="card small">
                    <div class="card-image">
                        <img src="https://www.ikea.com/images/a-guide-to-buying-pots-and-pans-cd4046dc06fc9ad544510d3661e25907.jpg?f=xl">
                    </div>
                    <div class="card-content">
                        <p>Ikea kitchen accessories</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.ikea.com/gb/en/cat/cookware-kt003/" target="_blank">Browse cookware</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="card small">
                    <div class="card-image">
                        <img src="https://images.dunelm.com/30689930.jpg?$standardplayerdefault$&img404=noimagedefault">
                    </div>
                        <div class="card-content">
                        <p>Dunelm Cook & Dine</p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.dunelm.com/category/home-and-furniture/cook-and-dine" target="_blank">Take a look</a>
                    </div>
                </div>
            </div>
        </div>

            

            




        <!-- TEST 
         <div class="slider fullscreen" sty;e="z-index: -1;">
            <ul class="slides">
                <li>
                    <img src="static/images/soup.jpg" alt="Home cooked soup">
                    <div class="caption center-align">
                        <h1>Cogi</h1>
                        <a href="{{ url_for('get_recipes') }}">
                            <h3>cooking up a community</h3>
                        </a>
                        <div class="card-panel.white">
                    <form action="{{ url_for('search') }}" method="post" class="col s12">
                        <div class="row valignwrapper centeralign">
                            <div class="input-field col s12 m8">
                                <i class="fas fa-search prefix"></i>
                                <input type="text" name="query" minlength="3" id="query" class="validate" required>
                                <label for="query">Search recipes</label>
                            </div>
                            <div class="col s12 m4">
                                <a href="{{ url_for('get_recipes') }}" class="red btn">Reset</a>
                                <button type="submit">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                    </div>
                </li>
            </ul>
        </div>  
        -->


    {% endblock %}