{% extends "base.html" %}

    {% block content %}


        <div class="row">
            <div class="overlay">
                <img src="static/images/soup.jpg" alt="Home cooked soup" id="homePageImage">
            </div>
            <div class="callToAction">
                <h1>Cogi</h1>
                <a href="{{ url_for('get_recipes') }}">
                    <h3>cooking up a community</h3>
                </a>
                <div class="card-panel.white">
                    <form action="{{ url_for('search') }}" method="post" class="col s12">
                        <div class="row valignwrapper centeralign">
                            <div class="input-field col s12 m8">
                                <i class="fas fa-search prefix"></i>
                                <input type="text" name="query" minlength="3" id="query" class="validate" required>
                                <label for="query">Search recipes</label>
                            </div>
                            <div class="col s12 m4">
                                <a href="{{ url_for('get_recipes') }}" class="red btn">Reset</a>
                                <button type="submit">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 


        <!-- TEST 
         <div class="slider fullscreen" sty;e="z-index: -1;">
            <ul class="slides">
                <li>
                    <img src="static/images/soup.jpg" alt="Home cooked soup">
                    <div class="caption center-align">
                        <h1>Cogi</h1>
                        <a href="{{ url_for('get_recipes') }}">
                            <h3>cooking up a community</h3>
                        </a>
                        <div class="card-panel.white">
                    <form action="{{ url_for('search') }}" method="post" class="col s12">
                        <div class="row valignwrapper centeralign">
                            <div class="input-field col s12 m8">
                                <i class="fas fa-search prefix"></i>
                                <input type="text" name="query" minlength="3" id="query" class="validate" required>
                                <label for="query">Search recipes</label>
                            </div>
                            <div class="col s12 m4">
                                <a href="{{ url_for('get_recipes') }}" class="red btn">Reset</a>
                                <button type="submit">
                                    <i class="fas fa-search left"></i> Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                    </div>
                </li>
            </ul>
        </div>  
        -->


    {% endblock %}