{% extends "base.html" %}

    {% block content %}

        <h1 class="center-align">{{ recipe.recipe_name }}</h1>
        
        {% for tag in recipe.tags %}
            <div class="chip">
                {{ tag }}
            </div>
        {% endfor %}


        {{ recipe.prep_time }}

        <div class="row">
            <!-- Placeholder for image -->
            <div class="col-s12">
                <h3>Ingredients</h3>
                <p style="white-space: pre-wrap;">{{ recipe.ingredients }}</p>
            </div>
        </div>

        <h3>Method</h3>
        <p style="white-space: pre-wrap;">{{ recipe.method }}</p>
        <p>Recipe submitted by: {{ recipe.created_by }}</p>

        {% if session.user|lower == recipe.created_by|lower %}
            <div class="row">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn">Edit Recipe</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn">Delete Recipe</a>
            </div>
        {% endif %}

        <form class="center-align" method="POST" action="{{ url_for('add_comment', r_id=recipe._id) }}">
            <label for="comment">Comments</label>
            <textarea id="comment" class="materialize-textarea" name="comment" rows="16"></textarea>
            <button class="btn waves-effect waves-light" type="submit">Publish</button>
        </form>

        {% for comment in comments %}
            <div>
                <p><strong id="commentUser">{{ comment.created_by }}</strong> - <em>{{ comment.posted }}</em></p>
                <p>{{ comment.comment }}</p>
            </div>
            {% if loop.index != loop.length %}
                <div class="divider"></div>
            {% endif %}
        {% endfor %}

    {% endblock %}